{% extends 'base.html' %}
{% load static %}
{% block styles %} {% static 'user_css/login.css'%} {% endblock %}

{% block content %}

    <!-- Included the navigation -->
    {% include "includes/nav.html" %}

    <form id="signup_form" class="signup-form mb-5" action="" method="POST">
        {% csrf_token %}
        <h2>Signup to <span class="shopspree">Shopspree</span></h2>
        
        <div class="form-div">
            {% for field in signup_form %}
                {{field.label_tag}}
                <br>
                {{field}}
                <br>
            {% endfor %}

            <button class="submit-button btn mt-3" id="signup-submit-button" type="submit">Submit</button>
            <p> Already have an account?  <a href="{% url 'login_page'%}" class="login-link">Login</a>
             </p>
        </div>

    </form>

    
{% endblock %}