{% extends 'base.html' %}
{% load static %}
{% block styles %} {% static 'Homepage_css/login.css'%} {% endblock %}

{% block content %}

    <!-- Included the navigation -->
    {% include "includes/nav.html" %}

    <form id="login_form" class="login-form mb-5" method="POST">
        {% csrf_token %}
        <h2>Login to <span class="shopspree">Shopspree</span></h2> 

        <div class="form-div">
            {% for field in login_form %}
                {{field.label_tag}}
                <br>
                {{field}}
                <br>
            {% endfor %}

            <button class="submit-button btn mt-3" type="submit">Submit</button>
            <p>Don't have an account? <a href="{% url 'signup_page'%}" class="sign-up-link">Sign up</a> </p>
        </div>

    </form>
  
{% endblock %}