:root {
    --theme-color: rgb(240, 180, 49);
    --theme-color-dim: rgb(227, 158, 9);
    --theme-background: rgba(238, 168, 16, 0.106);
    --white: white;
}

.product-card {
    margin: auto;
    width: 70% !important;
}

.product-card img {
    max-width: 100%;
    max-height: 400px !important;
    object-fit: contain;
}

.product-card-body {
    height: 300px !important;
}

.category-card-body {
    height: 150px !important;
}

.add-to-cart-btn {
    padding: 10px 15px !important;
    width: 220px !important;
    background-color: var(--theme-color) !important;
    border: none;
}

.see-products-btn, .see-products-btn-top {
    padding: 10px 15px !important;
    width: 220px !important;
    background-color: var(--theme-color) !important;
    border: none;
}

.see-products-btn {
    margin: auto;
}

