{% extends 'base.html' %}
{% load static %}

{% block styles %} {% static 'Homepage_css/productpage.css'%} {% endblock %}

{% block content %}
    <!-- Included the navigation -->
    {% include "includes/nav.html" %}

    <div class="main-section p-5 mt-5">
        <div class="container d-flex justify-content-between mb-3">
            <h2 class="card-title">{{ category.name }}</h2>
            <a href="#" class="see-products-btn-top btn ">See our products</a>
        </div>

        <div class="category-card card" style="" bis_skin_checked="1">
            <img src="{{ category.image.url }}" class="card-img-top" alt="...">
    
            <div class="category-card-body card-body d-flex align-items-center" width="80%" height="400px" bis_skin_checked="1" >  
                <a href="#" class="see-products-btn btn ">See our products</a>
            </div>
        </div>
    </div>

{% endblock %}