{% extends 'base.html' %}
{% load static %}

{% block styles %} {% static 'Homepage_css/styles.css'%} {% endblock %}

{% block content %}
<div class="main-section" height="800px">

     <!-- Included the navigation -->
     {% include "includes/nav.html" %}

    <!-- The intro section not completed, only carousel available!-->
    <div class="intro-section pt-5">
        <div class="product-listing-section"></div>

        <div class="carousel-section p-5">
            <div id="carouselExampleAutoplaying" data-bs-theme="dark" class="carousel slide carousel-fade px-5"
                data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0"
                        class="active bg-dark" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                        aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">

                    <div class="carousel-item" data-bs-interval="2000">
                        <img width="550px" height="350px"
                            src="/media/carousel_imgs/carousel-img-1.jpg"
                            class="d-block w-100" alt="...">
                    </div>

                    <div class="carousel-item" data-bs-interval="2000">
                        <img width="550px" height="350px"
                            src="/media/carousel_imgs/carousel-img-2.jpg" class="d-block w-100"
                            alt="...">
                    </div>

                    <div class="carousel-item active" data-bs-interval="2000">
                        <img width="550px" height="350px" src="/media/carousel_imgs/carousel-img-3.cms"
                            class="d-block w-100" alt="...">
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

        <div class="animation-section"></div>
    </div>

    <div class="product-display-section">

        <div class="product-group-display">
            <h3>Our sections</h3>

            <div class="product-groups-container row justify-content-center align-items-center">
                {% for category in categories %}
                    <a class="product-group card col-lg-2 col-md-3 col-sm-3 col-xs-4" href="{% url "category_page" category.name category.slug %}">
                        <div>
                            <img src="{{category.image.url}}" width="100%" class="card-img-top" alt="">
                            <div class="card-body">
                                <p class="card-text">{{category.name}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="product-deals-display">
            <h3>Today's deals</h3>       
            <div class="products-container row justify-content-center align-items-center">
                {% for product in products %}
                    <a class="product card col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-6" href="{% url "product_page" product.name product.slug  %}">
                        <div> 
                            <img src="{{product.image.url}}" width="100%" alt="" class="card-img-top">
                            <div class="card-body">
                                <p class="card-text" style="margin-bottom: 7px;">{{product.name}}</p>
                                <p class="card-text fw-bold">₦{{product.price}}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>

</div>
{% endblock %}